{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="/CSS/ajouter.css">
{% endblock %}

{% block body %}
    <h1 style="text-align:center;"> Formulaire d'ajout de vehicule</h1>

    <div class="content">
        {{ form_start(form) }}
            {{form_widget(form)}}
        {{ form_end(form) }}
    </div>
{% endblock %}
